* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body */
  body {
    background-color: rgba(0, 0, 0, 0.904);
  }
  
  /* Container principal */
  .main {
    background-position: center;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .person-container {
    color: #FFFFFF;
  }
  
  .person-container__img  {
    width: 120px;
    border-radius: 50%;
    border: 8px solid #FFD701;
    margin-bottom: 24px;
  }
  
  .person-container__name {
    font-size: 40px;
    margin-bottom: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px;
  }
  
  .person-container__subtitle {
    font-size: 16px;
    margin-bottom: 40px;
  }
  
  .info-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  
  .info-box {
    width: 340px;
    height: 180px;
    background-color: #FFD701;
    padding: 24px;
    border-radius: 32px;
  }
  
  .info-box__title {
    font-family: 'maiden';
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .contact-container {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  
  .contact-container__link {
    background-color: #13121A;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
  
  .contact-container__icon {
    width: 32px;
  }