.sidebar_button {
    display: none;
  }
  
  .sidebar {
    display: none;
  }
  
  @media (max-width: 768px){
  
  /* Botão */
    .sidebar_button{
    top: 1.5%;
    left: 3%;
    position: absolute;
    display: flex;
    font-size: 30px;
    margin-left: 90%;
    background-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
  }
  
  /* Menu */
  .sidebar{
      background-color: #0000007a; 
      position: absolute;
      top: 5.9%;
      left: 32.2%;
      margin-left: 50%;
      display: block;
      list-style: none;
      width: 500px;
      color: #fff;
  }
  
  li{
      padding: 10px;
  }
  
  }